<mat-card>
  <mat-card-title-group>
      <mat-card-title>Login</mat-card-title>
  </mat-card-title-group>
  <p *ngIf="message.text" class="text-{{ message.type }}">{{ message.text }}</p>
  <mat-card-content>
    <form [formGroup]="signInForm">
      <mat-form-field class="full-width">
        <input type="email" matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    
      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="center">
      <button mat-raised-button color="primary" (click)="onSignIn()">Sign In</button>
  </mat-card-actions>
  <mat-card-content>
    Don't have an account? <a routerLink='/registration'>Sign Up</a>
  </mat-card-content>
</mat-card>