<mat-form-field>
    <mat-select placeholder="Word Sets" [(ngModel)]="selectedSet" (change)="onChange()">
      <mat-option *ngFor="let set of userWordSets" [value]="set.set_name">
        {{ set.set_name }}
      </mat-option>
    </mat-select>
</mat-form-field>

<button mat-button color="primary">Create New Set</button>
<button mat-button color="primary">Delete Set</button>
<button mat-raised-button color="primary" id="addWordButton">Add New Word</button>

<mat-card *ngFor="let word of words">
  <mat-icon class="mat-18 sound-icon" (click)="onSound()">volume_up</mat-icon>
  {{ word.word }} [{{ word.transcription }}] - {{ word.translate }}
  <mat-icon class="mat-18 delete-word-icon">delete_forever</mat-icon>
</mat-card>