<div class="row">
  <div class="col-sm-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Word-Translate</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="start">
        <button mat-raised-button color="primary" (click)="onWordTranslate()">Study</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Translate-Word</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="start">
        <button mat-raised-button color="primary" (click)="onTranslateWord()">Study</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>